// global color variables
$base-color: #1b3157;
$base-color-1: #3C5A99;
$base-color-2: #4f73c1;
$base-color-3: #6190f6;
$base-color-4: #b7e7ff;

$base-color-bg: #006e011a;

$orange: #ff6c00;

$grey-1: #D9D9D9;
$grey-2: #C4C4C4;
$grey-3: #6E767D;

$active-route: #FFFFFF80;
$carousel-dot-grey: #D9D9D9;

$banner-bg: #eee;
$dashboard-bg: #f0f2f5;
$transition: all 0.4s;

// status indicators
$pending: #FFA500;
$reviewed: $base-color-3;
$approved: #008000;
$declined: #da0000;
$disbursed: $approved;

// dark theme mode
$dark-theme: #101014;
